.main {
    background-color: orange;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.valuesWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}